body {
  margin: 20px;
  font-family: Arial;
  background: #f1f1f1;
}

input {
  min-width: 300px;
}

.canvas {
  margin-top: 1.5rem;
  border-collapse: collapse;
}

.pixel {
  width: 3px;
  height: 3px;
}

.pixel--selected {
  outline: 1px solid white;
}

.tooltip {
  color: white;
  display: none;
  padding: 5px;
  font-size: 20px;
  background: #000a;
  font-weight: bold;
  position: absolute;
  border-radius: 5px;
  font-family: Monospace;
  border: 1px solid white;
}

.tooltip__item {
  margin: 2px;
  display: block;
}